body,
p,
a,
li {
  font-size: 16px;
}

.mdx-document p {
  max-width: 80%;
}

.mdx-document p code,
.mdx-document h1 code,
.mdx-document h2 code,
.mdx-document h3 code,
.mdx-document h4 code,
.mdx-document h5 code,
.mdx-document li code,
.mdx-document h6 code {
  color: magenta;
}

.mdx-document span code,
.code-samples span code {
  font-family: monospace !important;
}
